.yandex-map-widget-container {
  max-width: 700px;
  height: 1250px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border: 2px solid #31babe;
  border-radius: 10px;
  margin-right: 30px;
  box-shadow: 9px -5px 20px 0px rgba(49, 186, 190, 0.6);
}

.yandex-map-widget-iframe {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.yandex-map-widget-link {
  box-sizing: border-box;
  text-decoration: none;
  color: #b3b3b3;
  font-size: 10px;
  font-family: "YS Text", sans-serif;
  padding: 0 20px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-height: 14px;
  white-space: nowrap;
}

.yandex-map-widget-link:hover {
  color: #888;
}

/* Mobile-first responsive styles */

/* Base mobile styles */
.yandex-map-widget-container {
  height: 900px;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Tablet styles */
@media (min-width: 769px) {
  .yandex-map-widget-container {
    height: 900px;
    width: auto;
    padding: 0;
    margin: 0 auto;
    margin-right: 30px;
  }
}

/* Desktop styles */
@media (min-width: 976px) {
  .yandex-map-widget-container {
    height: 1100px;
  }
}

@media (min-width: 1461px) {
  .yandex-map-widget-container {
    height: 1250px;
  }
}
