.header {
  width: 100%;
  background-color: #133848;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 130px;
  gap: 30px;
  font-size: 23px;
  font-weight: 600;
  color: #31babe;
  padding-right: 150px;
}

.phone-number-logo {
  size: 25px;
}

.header-phone {
  white-space: nowrap;
}

.header-phone a {
  text-decoration: none;
  color: #31babe;
  padding-left: 5px;
  white-space: nowrap;
}

.header-phone {
  padding-left: 15px;
}

@media (max-width: 1490px) {
  .header-info {
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 1250px) {
  .header-info {
    font-size: 18px;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .header-container {
    flex-direction: column-reverse;
    padding-top: 30px;
  }
}

@media (max-width: 450px) {
  .header-info {
    flex-direction: column;
  }
}
