.prices {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;
  margin: 0 auto;
  max-width: 2000px;
}

.prices-row {
  margin: 0 auto;
}

.prices .row {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.prices .col {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .prices .col.prices-row {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.prices h2 {
  font-weight: 600;
  font-size: 50px;
  padding-bottom: 20px;
  color: #e7bd25;
}

.prices-container {
  border: 2px solid rgb(49, 186, 190);
  box-shadow: 9px -5px 20px 0px rgba(49, 186, 190, 0.6);
  border-radius: 10px;
  max-width: 700px;
  height: 1250px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(
    circle at center,
    rgba(49, 186, 190, 0.9) 0%,
    #133848 100%
  );
}

.prices-container p {
  font-size: 37px;
  text-align: center;
}

.prices-container ul {
  font-size: 30px;
  list-style-type: none;
}

.prices-container h3 {
  margin-top: 10px;
  font-size: 45px;
  font-weight: 600;
}

.prices-container-p {
  color: #e7bd25;
  font-weight: 600;
}

.prices-logo {
  width: 330px;
  height: 330px;
  margin-top: 10px;
  border-radius: 50%;
  border: 2px solid #e7bd25;
  box-shadow: 9px -5px 20px 0px rgba(49, 186, 190, 0.6);
}

.prices-container-button {
  background-color: transparent;
  color: #e7bd25;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 600;
  padding: 0;
  animation: shake 0.6s infinite;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 1460px) {
  .prices-container {
    height: 1100px;
    padding: 20px;
  }
  .prices h2 {
    font-size: 50px;
    padding-bottom: 10px;
  }
  .prices-container p {
    font-size: 30px;
    margin: 0;
  }

  .prices-container h3 {
    margin-top: 10px;
    font-size: 35px;
  }

  .prices-container ul {
    font-size: 25px;
  }

  .prices-container-button {
    font-size: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .prices-logo {
    width: 270px;
    height: 270px;
  }
}

@media screen and (max-width: 975px) {
  .prices-container {
    height: 900px;
    padding: 20px;
  }
  .prices h2 {
    font-size: 40px;
    padding-bottom: 0;
  }
  .prices-container p {
    font-size: 23px;
  }

  .prices-container h3 {
    margin-top: 10px;
    font-size: 25px;
  }

  .prices-container ul {
    font-size: 20px;
  }

  .prices-container-button {
    font-size: 25px;
  }

  .prices-logo {
    width: 240px;
    height: 240px;
  }
}

@media screen and (max-width: 768px) {
  .prices-row {
    padding: 0 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .prices-container {
    height: 100%;
    
  }
}
